{% extends 'base.html' %}

{% load static %}


{% block css %}
<style>
    #form-div{
        width: 60%;
    }

</style>
{% endblock css %}

{% block title %}
<title>Blog : Home </title>
{% endblock title %}


{% block body %}



<div class="container bg-danger text-center rounded-3 p-2">
    <h1 class="display-6 text-light ">Add Blogs <i class="bi bi-file-earmark-plus-fill"></i></h1>
 </div>

 <div class="container my-5 p-5 shadow " id="form-div">

    <form action="" method="post">
        
        {% csrf_token %}

        <!-- fields  -->
        {% for i in forms %}
        <div class="mb-3 p-2">
            {{i.label_tag}}
            {{i}}

        {% endfor %}
            <input type="submit" value="Add Blog" class="btn btn-success my-4">
        </div>

    </form>

 </div>




{% endblock body %}